
  .footer-contact{
    font-size: 14px;
  }

  .footer-list{
    font-size: 14px;
  }

  

  .footer-icon {
    transition: all 0.3s ease; /* Smooth transition for color and border */
  }
  
  .footer-icon:hover {
    color: #007bff!important; /* Blue color for icons */
    border-color: #007bff!important; /* Blue color for border */
  }
  
  
  