.header {
    padding: 25px 0;
    transition: all 0.5s;
    z-index: 997;
}

.custom-navbar {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.custom-Navbar-Hover:hover {
    color: #007bff!important;
}

/* Custom Hover Effect for NavDropdown */
.custom-Navbar-Hover:hover {
    color: #007bff !important; /* White text on hover */
}

.custom-Navbar-Hover .dropdown-toggle:hover {
    color: #007bff !important; /* White text on hover */
}


/* Hover effect on dropdown items */
.custom-Navbar-Hover .dropdown-item:hover {
    color: #007bff !important; /* White text on hover */
}
